<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online resume of Renier Kotze</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="/static/css/main.css?ver=1.1.0" rel="stylesheet">
    <link href="/static/css/modal.css?ver=1.1.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Resume of Renier Kotze</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="/static/images/renier.jpg" alt="Image"/></a></div>
          <div class="h2 title">Renier Kotze</div>
          <p class="category text-white">Linux Expert, DevOps Engineer, Database Administrator, Web Developer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="/static/Resume-Renier-Kotze.pdf" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/kotze.renier" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/GroenOogSeeMonster" rel="tooltip" title="Follow me on Github"><i class="fa fa-github-square"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/renier-kotze-93274a40/" rel="tooltip" title="Follow me on Linkedin"><i class="fa fa-linkedin-square"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/renierkotze/" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hey and Welcome to my web page!</p>
            <p>My name is Renier Kotze, and the aim of this website is to show case my skills in the Linux administration and DevOps space.</p>
            <p>I have over 18 years of experience in administration and support where I honed my Linux, DevOps and Cloud computing skills. In my previous role I worked as an Operations Manager at Amazon Web Services, Premium Support where I lead a cross-functional team of 30 Engineers, supporting AWS security cloud services, engineering complex security solutions and guiding AWS customers on using cloud services. Before management I was a Senior Cloud Support Engineer for the Linux and Devops teams, followed by a mentoring role as lead for the graduate program in Cape Town.</p>
            <p>I'm deeply passionate about technology, but more so in helping people use and understand these technologies to make live easier. This means I spend a lot of time installing and manipulating trusted and common products to gain experience, knowledge and understanding of not only how, but why things work the way they do. </p>
            <p>Previously, I worked as a Linux System Administrator, DevOps Engineer and was in various support roles continuously supporting products and services for my customers. To elevate my career, I have also been active in web development space, consulting as a architect and builder. I have also discovered a talent and passion for teaching and developing young talent.</p>
            <p>If you catch me outside of work, I'm a family man blessed with a beautiful wife and three very busy boys. We like to spend time together as a family exploring the magnificent and special southern tip of Africa.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">38</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">renier.kotze@hotmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+2761 489 8399</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Jagtershof, Kuilsriver, South Africa</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, Afrikaans</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Linux (CentOS/Ubuntu/OpenSuSe)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">Expert</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Networking</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">Proficent</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Scripting in Bash/Python and Javascript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">Proficient</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Docker and Kubernetes</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">Proficient</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Web Development Frameworks (Django/Flask/Rails/Angular)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">Intermediate</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Config Management - Chef / Puppet</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">Intermediate</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Web Development (HTML5/CSS/Bootstrap) </span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">Intermediate</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">AWS EC2 / Deployment Services</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">Proficient</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">DevOps (Git/CI-CD/Automation Bash and Python) </span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">Proficient</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Cloud Web Architecture Design/Plan and Build</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div><span class="progress-value">Proficient</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Database Administration (PostgreSQL/MySQL)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div><span class="progress-value">Intermediate</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Analytics (AWS Quicksight / Tableau)</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">Intermediate</span>
              </div>
            </div>
          </div>
        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Projects" role="tablist"><i class="fa fa-superpowers" aria-hidden="true"></i></a></li>
            <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Tech_Guides" role="tablist"><i class="fa fa-tachometer" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Other" role="tablist"><i class="fa fa-cog" aria-hidden="true"></i></a></li> -->
          </ul>
        </div>
      </div>
    </div>
    </div>
     <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="Projects">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top">
                  <figure class="cc-effect"><img src="/static/images/project-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">PXE Ubuntu Server - One Digital Media</div><br>
                        <button class="modal-open" data-modal="modal1"> See More</button>
                    </figcaption>
                        <div class="modal" id="modal1">
                            <div class="modal-content">
                              <div class="modal-header">PXE Ubuntu Server - One Digital Media</div>
                              <div class="modal-body">When I joined the ODM, I identified that their digital screen delivery pipeline is being slowed down, as each screen needed to be loaded with customized Ubuntu OS.I developed a PXE solution (Using TFI), allowing these units to install the OS via the Network, managing to drive down the average install time of 15 minutes plus down to 4 minutes per unit.</div>
                              <div class="modal-footer"><button class="link modal-close">Close</button></div>
                            </div>
                        </div>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="center">
                  <figure class="cc-effect"><img src="/static/images/project-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">National WAN - One Digital Media</div>
                      <button class="modal-open" data-modal="modal2"> See More</button>
                    </figcaption>
                    <div class="modal" id="modal2">
                      <div class="modal-content">
                        <div class="modal-header">National WAN - One Digital Media</div>
                        <div class="modal-body">After implementing Nagios monitoring, upgrading, and migrating the main PostgreSQL Database, I worked to improve our cross branch communication. I rolled out a WAN using OpenVPN, upgrading network equipment cross country,and implemented various backup redundant internet links and installed monitoring to ensure uptime across the country.</div>
                        <div class="modal-footer"><button class="link modal-close">Close</button></div>
                      </div>
                  </div>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="center">
                    <figure class="cc-effect"><img src="/static/images/project-5.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Database Server Upgrade - One Digital Media</div>
                        <button class="modal-open" data-modal="modal5"> See More</button>
                        <p></p>
                      </figcaption>
                      <div class="modal" id="modal5">
                        <div class="modal-content">
                          <div class="modal-header">Database Server Upgrade - One Digital Media</div>
                          <div class="modal-body">I was tasked to evaluate our Cloud-based hardware, running a web application stack and PostgreSQL database on Solaris with Sun Microsystems hardware running on a ZFS filesystem. I spent some time evaluating the Database and Web application performance and presented a proposal to move to a Ubuntu-based solution running on HP server hardware (Configured OpenZFS filesystem). The proposal was approved, and I implemented a new server without any downtime. We also identified a 20%+ improvement in our database and application performance overall.</div>
                          <div class="modal-footer"><button class="link modal-close">Close</button></div>
                        </div>
                    </div>
                    </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="center">
                  <figure class="cc-effect"><img src="/static/images/project-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Installation Test Lab - ComputAssist</div>
                      <button class="modal-open" data-modal="modal3"> See More</button>
                    </figcaption>
                    <div class="modal" id="modal3">
                      <div class="modal-content">
                        <div class="modal-header">Installation Test Lab - ComputAssist</div>
                        <div class="modal-body">I developed a Test lab to be used to test new equipment, and configure all the equipment before installation on site. This drastically improved the technical teams quality of installations, as we reduced callbacks and installation failures by 17%.</div>
                        <div class="modal-footer"><button class="modal-close">Close</button></div>
                      </div>
                  </div>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="center">
                  <figure class="cc-effect"><img src="/static/images/project-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Technical Documentation - ComputAssist</div>
                      <button class="modal-open" data-modal="modal4"> See More</button>
                    </figcaption>
                    <div class="modal" id="modal4">
                      <div class="modal-content">
                        <div class="modal-header">Technical Documentation - ComputAssist</div>
                        <div class="modal-body">I developed a Test lab to be used to test new equipment, and configure all the equipment before installation on site. This drastically improved the technical teams quality of installations, as we reduced callbacks and installation failures by 17%.</div>
                        <div class="modal-footer"><button class="link modal-close">Close</button></div>
                      </div>
                  </div>
                  </figure></a></div>
              <!-- <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="center"><a href="#Projects">
                  <figure class="cc-effect"><img src="/static/images/project-6.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Amazon Web Services - Premium Support</div>
                      <button class="modal-open" data-modal="modal6"> See More</button>
                      <p></p>
                  </figcaption>
                  <div class="modal" id="modal6">
                    <div class="modal-content">
                      <div class="modal-header">Amazon Web Services - Premium Support</div>
                      <div class="modal-body">I was both a Senior Cloud Engineer in the EC2 space, supporting Linux, VPC, and EC2 solutions. I also earned my SME (Subject Matter Expert) for EC2 and Linux. Within nine months of joining, I moved over to the deployment team, specializing in supporting Beanstalk, Cloudformation, and the Code*. I also had a lot of cross-team exposure with Amazon S3, Lambda, and Amazon Lightsail.</div>
                      <div class="modal-footer"><button class="link modal-close">Close</button></div>
                    </div>
                </div>
                  </figure></a></div> -->
            </div>
          </div>
        </div>
      </div>
<!--      <div class="tab-pane" id="graphic-design" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="/static/images/graphic-design-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Triangle Pattern</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="/static/images/graphic-design-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Abstract Umbrella</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="images/graphic-design-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Cube Surface Texture</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                  <figure class="cc-effect"><img src="images/graphic-design-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Abstract Line</div>
                      <p>Graphic Design</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="Photography" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="/static/images/photography-1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="/static/images/photography-3.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Wedding Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="/static/images/photography-2.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Beach Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                  <figure class="cc-effect"><img src="/static/images/photography-4.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Nature Photoshoot</div>
                      <p>Photography</p>
                    </figcaption>
                  </figure></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2015 - June 2021</p>
            <div class="h5">AWS Premium Support - Cape Town</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Cloud Support Engineer II / Operations manager</div>
            <p>For almost six years, I was privileged to be part of the AWS Premium Support Team based in Cape Town. I joined the organization as a Senior Cloud Engineer in the EC2 space, supporting our customers with various Linux, VPC, and EC2 solutions. I also earned my SME (Subject Matter Expert) for EC2 and Linux. Within nine months of joining, I moved over to the deployment team, specializing in supporting Beanstalk, Cloudformation, and the Code*. I also had a lot of cross-team exposure with Amazon S3, Lambda, and Amazon Lightsail.</p>
            <p>I briefly moved to the BigData team, where I worked with Amazon Kinesis, AWS Glue, and Amazon EMR. In 2018 I was offered a lead role in mentoring, which I accepted. I was responsible for teaching and providing technical mentoring and work-life coaching for the AWS Graduate program graduates.</p>
            <p>The role naturally evolved into an Ops Manager role where I was lucky enough to manage the Premium Support Security team for the last 2 years of my time at AWS. I have been out of the field for a time due to some unexpected family issues. Everything has been taken care of, and I am ready to get back into the workforce. I will be open to elaborate more if you have further questions!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2013 - July 2015</p>
            <div class="h5">One Digital Media</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">DevOps Engineer</div>
            <p>I joined the awesome Development team at One Digital Media in 2013 in relocating to Cape Town. I was hired as a Linux Systems Administrator but quickly released this is more DevOps orientated. Here I was solely responsible for ensuring max uptime on the backend (Cloud-based), managing and maintaining their PostgreSQL production database, and monitoring the network.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>April 2011 - September 2013</p>
            <div class="h5">Technology Systems Integration (Pty) Ltd</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Linux Support Engineer</div>
            <p>In my tenure at TSI, I was employed as a Senior Support Engineer, where I provided tier 3 advanced Linux, Windows Server, and Networking support. I was the technical account manager for our biggest customer, and we outsourced my services to HWSETA. TSI provided an edge firewall/router Linux server to all our customers, and I supported outages, maintenance, and upgrades of these servers.</p>
            <p>Additionally, the role included onsite support, where I traveled across Gauteng to install, upgrade and maintain customers' network infrastructures and office server infrastructures.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2003 - April 2011</p>
            <div class="h5">ComputAssist Group</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Support Engineer / Call Centre Manager / Technical Manager</div>
            <p>I started at ComputAssist after being a desktop support technician for two years. ComputAssist provides POS and Pharmacy management software to independent pharmacies, which I needed to install and maintain in Pharmacies across southern Africa.</p>
            <p>After two years, I was promoted to Senior and my responsibility grew to support bigger pharmacies, and include providing onsite hands-on training and allowed me to provide telephonically, and later on remote support. After succeeding in the role I was promoted to Call Centre Manager where I managed the call center agents and field technicians, planning and scheduling installations.</p>
            <p>This lead me to be promoted to Service Manager, and later I was appointed technical director to oversee all support and installation efforts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Jan 1996 – Nov 2000</p>
            <div class="h5">High School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Completion/Pass Grade 12</div>
            <p class="category">Jeugland High School</p>
            <p>Completed and passed Grade 12</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Feb 2001 – Mar 2001</p>
            <div class="h5">A+ Certificate</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Introduction to PC Support</div>
            <p class="category">Auddem Technical College</p>
            <p>Completed my A+ certification and course on basic computer hardware and software support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="reference">
  <div class="container cc-reference">
    <div class="h4 mb-4 text-center title">References</div>
    <div class="card" data-aos="zoom-in">
      <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
          <li data-target="#cc-Indicators" data-slide-to="1"></li>
          <li data-target="#cc-Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="/static/images/reference-image-1.jpg" alt="Image"/>
                <div class="h5 pt-2">Alex Morton</div>
                <p class="category">Ops Manager at AWS</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p>Alex was my Ops Manager for the majority of my time as a Cloud Support Engineer II at Amazon Web Services.</p>
                <a href="tel:+27787306064">+27787306064</a>.<br>
                <a href="mailto:alex@unionswiss.com">alex@unionswiss.com</a>.<br>
                <a href="https://www.linkedin.com/in/alex-morton-764a9135/">Linkedin Profile</a>.<br>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="/static/images/reference-image-2.jpg" alt="Image"/>
                <div class="h5 pt-2">Ross Simpson</div>
                <p class="category">Chief Technology Officer at One Digital Media</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> .</p>
                <a href="mailto:simpson.ross@gmail.com">simpson.ross@gmail.com</a>.<br>
                <a href="https://www.linkedin.com/in/ross-simpson-9026552a/">Linkedin Profile</a>.<br>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="/static/images/reference-image-4.jpg" alt="Image"/>
                <div class="h5 pt-2">Joerg Sandl</div>
                <p class="category">Software Development Manager, Big Data, EC2</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> I reported to Joerg Sandl during my time as Ops Manager at Amazon Web Services (AWS).</p>
                <a href="tel:+27714759145">+27714759145</a>.<br>
                <a href="mailto:jsandl@amazon.com">jsandl@amazon.com</a>.<br>
                <a href="https://www.linkedin.com/in/joergsandl?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BTlecxFeQTQqN3Aaw91Ndpg%3D%3D">Linkedin Profile</a>.<br>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="/static/images/reference-image-3.jpg" alt="Image"/>
                <div class="h5 pt-2">Michael Brunzlik</div>
                <p class="category">Owner, Technology Systems Integration (Pty) Ltd</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> I reported to Michael Brunzlik during my time at Technology Systems Integration (Pty) Ltd.</p>
                <a href="mailto:michael@tsi.co.za">michael@tsi.co.za</a>.<br>
                <a href="https://www.linkedin.com/in/michaelbrunzlik?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BC%2BhprleQRgOYNLSzOSjDPw%3D%3D">Linkedin Profile</a>.<br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('/static/images/staticmap.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/f/xayapjlg" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Jagtershof, Kuilsriver, Cape Town, South Africa</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+27 61 4898399</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>renier.kotze@hotmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" href="https://www.facebook.com/kotze.renier"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-github btn btn-link " href="https://github.com/GroenOogSeeMonster"><i class="fa fa-github fa-2x " aria-hidden="true"></i></a><a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/renier-kotze-93274a40/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="https://www.instagram.com/renierkotze/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Renier Kotze</div>
      <div class="text-center text-muted">
        <p>&copy; Resume of Renier Kotze. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="/static/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="/static/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="/static/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="/static/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="/static/js/aos.js?ver=1.1.0"></script>
    <script src="/static/scripts/main.js?ver=1.1.0"></script>
    <script src="/static/js/modal.js?ver=1.1.0"></script>
  </body>
</html>
